.containerModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: azure;
    z-index: 10;
    background-color: #2e2e52;
    /* Garantir que fique acima de outros elementos */
}

.modal {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto !important;
    height: auto !important;
    padding: 5px 15px;
}

