#root {
    width: 70%;
    height: 80%;
}

h1 {
    margin-top: 0;
}

.container {
    position: relative;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

form button {
    margin-top: 0;
}

form table {
    margin-top: 3%;
    width: 90%;
    font-size: 18px;
    color: #ffffff;

}

.backButton {
    position: absolute;
    top: 5px;
    left: -10px;
    cursor: pointer;
}